<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luqiao.interf.mapper.CustsupMapper">

    <resultMap id="BaseResultMap" type="com.luqiao.interf.entity.Custsup">
        <id column="CUSTSUP_ID" property="custsupId" />
        <result column="CUSTSUP_CODE" property="code" />
        <result column="CUSTSUP_NAME" property="name" />
        <result column="CUSTSUP_PK_CUST_SUP" property="pk_cust_sup" />
        <result column="CUSTSUP_CUSTSUPTYPE" property="custsuptype" />
        <result column="CUSTSUP_TS" property="ts" />
    </resultMap>

    <resultMap id="GyshResultMap" type="com.luqiao.interf.entity.PmmdGysh">
        <id column="GYSH_DWBH" property="custsupId" />
        <result column="GYSH_TIME" property="code" />
        <result column="GYSH_BH" property="name" />
        <result column="GYSH_DWLB" property="pk_cust_sup" />
        <result column="GYSH_MC" property="custsuptype" />
        <result column="GYSH_SH" property="ts" />
    </resultMap>

    <select id="getCustsupList" resultMap="BaseResultMap">
        select * from YY_CUSTSUP
    </select>

    <update id="mergeinfo">
        MERGE INTO YY_CUSTSUP t1
            USING  (select count(*) c from YY_CUSTSUP t2 where t2.custsup_pk_cust_sup=#{pk_cust_sup,jdbcType=VARCHAR})x
            ON (x.c > 0)
            when matched then
                update set t1.custsup_code = #{code,jdbcType=VARCHAR}, t1.custsup_name = #{name,jdbcType=VARCHAR}, t1.custsup_custsuptype = #{custsuptype,jdbcType=VARCHAR},t1.custsup_ts = #{ts,jdbcType=VARCHAR}
            where t1.custsup_pk_cust_sup=#{pk_cust_sup,jdbcType=VARCHAR}
            when not matched then
            insert values(sys_guid(),#{code,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{pk_cust_sup,jdbcType=VARCHAR},#{custsuptype,jdbcType=VARCHAR},#{ts,jdbcType=VARCHAR})
    </update>

    <select id="getgyshList" resultType="java.util.HashMap">
        select to_char(t1.GYSH_TIME,'yyyy-mm-dd hh24:mi:ss') as GYSH_TIME,t1.GYSH_SFNBDW,t1.GYSH_MC,t1.GYSH_SH,t2.EXTVALUE,t3.YYDWID
        from pmmdgysh t1
                 left join GSPUserExtensions t2 on t1.GYSH_TBRID = t2.USERID
                 left join YYGSHSDW t3 on t1.GYSH_ID = t3.GSDWID
        where t1.GYSH_TIME between (sysdate-30/60/24) and sysdate
    </select>

    <select id="getfbshList" resultType="java.util.HashMap">
        select to_char(t1.FBSH_TIME,'yyyy-mm-dd hh24:mi:ss') as FBSH_TIME,t1.FBSH_SFNBDW,t1.FBSH_MC,t1.FBSH_SH,t2.EXTVALUE,t3.YYDWID
        from pmmdfbsh t1
                 left join GSPUserExtensions t2 on t1.FBSH_TBRID = t2.USERID
                 left join YYGSHSDW t3 on t1.FBSH_ID = t3.GSDWID
        where t1.FBSH_TIME between (sysdate-30/60/24) and sysdate
    </select>

</mapper>
